.btns-flex {
    display: flex;
    justify-content: flex-start;
}

.btn-margin {
    margin-right: 10px;
}

.form-flex {
    display: flex;
    justify-content: center;
    align-items: baseline
}

.form-spaces {
    padding: 20px;
}

.btn-space {
    margin-left: 20px;
}